@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Poppins:wght@200;300;400;700&display=swap");

:root {
  /* Color Palete */
  --bg: #fff;
  --brdr: #d1d6ee;
  --brdr-actv: blue;
  --brdr-hovr: orange;
  --tran-color: transparent;
  --for-col: crimson;
  --main-col-1: gray;
  --main-col-2: lightgray;
  --main-col-3: #333;
  --opacity: 0.6;

  /* Sizes */
  --size-1: 1.8rem;

  /* Delays */
  --dur: 500ms;
}

::-ms-reveal {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: 0.9rem "Poppins", helvetica;
  margin: 0;
  padding: 0;
}

*::selection {
  color: var(--bg);
  background-color: var(--for-col);
}

a {
  text-decoration: none;
}

noscript {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;

  & span {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--for-col);
  }
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}
